<footer id="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__logo">
                <img src="{{ footer_logo }}" alt="Logo Footer">
            </div>

            <nav id="footer-menu">
                {{ drupal_menu('footer', 1, 1) }}
            </nav>

            <div class="footer__social-links">
                <ul>
                    {% if twitter is not empty %}
                        <li>
                          <a href="{{ twitter }}" target="_blank" class="twitter-icon"></a>
                        </li>
                    {% endif %}
                    {% if facebook is not empty %}
                        <li>
                          <a href="{{ facebook }}" target="_blank" class="facebook-icon"></a>
                        </li>
                    {% endif %}
                    {% if instagram is not empty %}
                        <li>
                          <a href="{{ instagram }}" target="_blank" class="instagram-icon"></a>
                        </li>
                    {% endif %}
                    {% if youtube is not empty %}
                        <li>
                          <a href="{{ youtube }}" target="_blank" class="youtube-icon"></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="footer__copyright">{{ copyright|raw }}</div>

        {{ page.footer }}
    </div>
</footer>

